:root {
  --color-dark-gray: #10100e;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2;
  --color-lightgray: #acb3d2;

  --font-size-header: 26px;
  --font-size-main: 16px;

  /* THEMES */
  --theme-neutral-header: #cccc46;
  --theme-dark-header: #ca6c6f;
  --theme-light-header: #dfe2df;

  --theme-default-header: var(--theme-neutral-header);

  /* BACKGROUND */
  --theme-neutral-bgimage: url(../static/bgr.jpg);
  --theme-dark-bgimage: linear-gradient(to right bottom, #0b001a, #100225, #110331, #10053d, #0f0549);
  --theme-light-bgimage: linear-gradient(to right bottom, #62468a, #4e4e8a, #3e5386, #34567e, #335875);

  --theme-default-bgimage: var(--theme-neutral-bgimage);

  --transition: 0.4s;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  background-image: var(--theme-default-bgimage);
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  min-height: 100%;
}

img {
  display: block;
}

.title {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}

/* SCROLL */

* {
  scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, 0.7);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(37, 56, 97);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.7);
}
